*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  }
  body{
    background-color: #7b3ab2;
  }
  .form{
    width: 60%;
    height: auto;
    
    position: relative;
    left: 70%;
    transform: translateX( -50%);
  
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background: white;
  }
  .form form{
    width: 100%;
    height: 100%;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
  }
  .form .input-data{
    top: 40%;
    transform: translateY(-40%);
    margin-bottom: 25px;
    width: 60%;
    padding: 10px 20px;
    outline: none;
    border: 1.5px solid;
  }
  .form .btn-cadastro{
    width: 36%;
    margin-bottom: 84px;
    background-color:  #c43211;
    
    border: none;
    border-radius: 10px;
    padding: 7px ;
  }
  .form .btn-cadastro button{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .form .btn-cadastro{
    text-decoration: none;
    color: white;
  }
  .form .btn-cadastro:hover{
    cursor: pointer;
    background-color: #ca3a1a; 
  }
  .form form .errors{
    width: 60%;
    font-size: 1rem;
    color: #ca3a1a;
    
    text-align: start;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .form form .errors li{
    animation: animationErrors 1s ease forwards;
    margin-bottom: 5px;
  }

@keyframes animationErrors {
  from{
    margin-top: -30%;
    opacity: .5;
  } to{
    margin-top: 0%;
    opacity: 1;

  }
}