*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
body{
  background-color: #7b3ab2;
}
.form{
  width: 60%;
  height: 100vh;
  
  position: relative;
  left: 70%;
  transform: translateX( -50%);

  display: flex;
  flex-flow: wrap column;
  align-items: center;
  background: white;
}

.form .input-data{
  position: relative;
  top: 40%;
  transform: translateY(-40%);

  margin-bottom: 50px;
  
  width: 60%;
  padding: 10px 20px;
  outline: none;
  border: 1.5px solid;
}

.form span{
  position: relative;
  top: 200px;
  font-size: 1rem;
}
.form span a{
  font-size: 1rem;
  
}
.form .button-google{
  position: relative;
  top: 230px;
  width: 36%;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #c43211;
  border: none;
  border-radius: 10px;
}
.form .button-google:hover{
  cursor: pointer;
  background-color: #ca3a1a; 
}
.form .button-google img{
  margin-right: 10px;
  width: 30px;
}