<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cadastro</title>
</head>
<body>

  <form action="/cadastro" method="post">
    <input type="text" name="nome" id="" placeholder="Nome">
    <input type="text" name="email" id="" placeholder="Email">
    <input type="password" name="senha" id="" placeholder="Senha">
    <input type="password" name="confirmacaoDeSenha" id="" placeholder="Confirmação de Senha">
    <input type="submit" value="Cadastrar">
  </form>
  
</body>
</html>