<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div>Logo</div>
    <section>
      <a href="http://">home</a>
      <a href="http://">seila</a>
      <a href="http://">seila2</a>
      <a href="http://">seila3</a>
    </section>
  </header>
</body>
</html>