<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "preconnect" href = "https://fonts.googleapis.com">
  <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
  <link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">
  <link rel="stylesheet" href="styles/index.css">
  <title>login</title>
</head>
<body>
  <div class="form">
    <form action="/login" method="post">
      <input type="text" name="email" class="input-data " placeholder="Email">
      <input type="password" name="senha" class="input-data input-password" placeholder="Senha">
      <span>Novo por aqui? <a href="/cadastro">Faça seu cadastro.</a></span>
      <input type="submit" value="Login" class="buttons-login">
      <a href="/auth/google" class="btn-google"><button><img src="img/logo/logo-google.png" alt="" srcset="">Google<Google</ul>
      </button></a>
    </form>
  </div>
</body>
</html>