<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css">
  <title>login</title>
</head>
<body>
  <div class="form">
    <input type="text" name="" id="" class="input-data" placeholder="Email">
    <input type="password" name="" id="" class="input-data" placeholder="Senha">
    <input type="submit" value="Login">
    <span>Novo por aqui? <a href="">Faça seu cadastro.</a></span>
    <button class="button-google"><img src="img/logo/logo-google.png" alt="" srcset="">Google<Google</ul>
    </button>
  </div>
</body>
</html>